@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-statistic-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6 pr-0 pt-3">
                        <div class="card-content">
                            <h5 class="font-15">New Booking</h5>
                            <h2 class="mb-3 font-18">258</h2>
                            <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                        </div>
                    </div>
                    <div class="col-6 pl-0">
                        <div class="banner-img">
                            <img src="~/admin/img/banner/1.png" alt="banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-statistic-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6 pr-0 pt-3">
                        <div class="card-content">
                            <h5 class="font-15">Customers</h5>
                            <h2 class="mb-3 font-18">1,287</h2>
                            <p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
                        </div>
                    </div>
                    <div class="col-6 pl-0">
                        <div class="banner-img">
                            <img src="~/admin/img/banner/2.png" alt="banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admin/js/page/index.js"></script>
}
